  <script src="../js/data.js"></script>
  <script src="../js/contacts.js"></script>
  <script src="../js/crm-leads.js"></script>
  <script src="../js/crm.js"></script>
  <script src="../js/crm-assistant.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      initContacts();
      initCrmOrderModal();
      initCrmHeroEstimate();
      initCrmNav();
      initCrmToTop();
      initCrmReviews();
      renderGuideFaq();
      initCrmAssistant();
    });
  </script>
